/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
.out
*.iws
*.iml
*.ipr
*.map
.gradle

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*conf.yml
/addp-web/addp-web-start/src/test/java/com/nix/jingxun/addp/web/WebTest.java
/addp-ssh/addp-ssh-common/src/test/java/com/nix/jingxun/addp/ssh/common/Shell.java
/addp-ssh/addp-ssh-common/src/test/java/com/nix/jingxun/addp/ssh/common/ShellExeTest.java
