<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rpcSpring="http://code.tmac.com/schema/tmac"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://code.tmac.com/schema/tmac http://code.tmac.com/schema/tmac/tmac.xsd"

>
        <!--<rpcSpring:annotation package="com.nix.jingxun.addp.*"/>-->
</beans>