*{
  margin: 0;
  padding: 0;
}
.logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}

.header-div {
  float: right;
  font-size: 22px;
}

.conetntDiv {
  margin: 20px 5%;
  background-color: #fff;
}

.conetntDiv h4 {
  padding: 10px 1%;
}

a {
  text-decoration: none;
}

a:link {
  color: rgba(255, 255, 255, 0.65);
}

a:visited {
  color: rgba(255, 255, 255, 0.65);
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}
.paramType{
  background-color: #ccc;
  margin: 2px;
  display: inline-block;
}