.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.header-div{
  float: right;
  font-size: 22px;
}
.conetntDiv{
  margin:20px 5%;
  background-color : #fff;
}
.conetntDiv h4{
  padding: 10px 1%;
}