*{
  padding: 0;
  margin: 0;
}
.shell-box{
  background-color: #313131;
  width: 1000px;
  height: 500px;
}
.shell-line{
  color: aliceblue;
}
.shell-input{
  width: 100%;
  background-color: #313131;
  border: none;
  outline:none;
  cursor: pointer;
  color: white;
  font-size: 16px;
}